html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    margin: 20px 0px;
}

h3 {
    background-color: thistle;
    width: fit-content;
    padding: 10px;
    margin-bottom: 0px;
}

ul, ol {
    background-color: bisque;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 0px;
}